
/* universal styling */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

/* body styling */
body {
  background-color: whitesmoke;
  margin: 0;
}

/* header with nav styling */
header {
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: slateblue;
  color: white;
}

header {
  display:flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap ;
}

header h1 {
  display: flex;
  font-size: 30px;
  padding-left: 30px;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
}

header nav {
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display:inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

/* media styling here for header*/
@media (min-width: 500px) {
  .navbar, .main-header {
    display: flex;
    flex-direction: column;
    text-size-adjust: auto;
  }
}

.navbar li:hover {
  background-color:black;
}

/* main styling for first major large section that contains sections that contains subsections*/
main {
  width: 100%;
  margin: 0 auto;
}

.row {
  display:flex;
  flex-wrap: wrap;
}

/* media styling for main */
@media (min-width: 500px) {
  column {
    display: flex;
    flex-direction: column;
  }
}

/* this is the about me section */
/* main section that holds left and right side sub sections  */
.main-side-1 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* this is for the left content about me styling  */
.left-oriented-1 {
  border-right: black solid ;
} 

/* styling for the content about left section */
.center {
  display:flex;
  align-content: center;
  padding-right: 3px;
}

/* this is for the right content about me styling */
.right-content-1 {
  display:flexbox;
  padding-left: 10px;
} 

p {
    font-size: 16px;
}

/* this is the work section styling */
/* main section holds the left and right content sub sections */
.main-side-2{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* this is for the left work styling  */
.left-oriented-2 {
  border-right: black solid ;
}

/* this is for the left work styling above at the center styling */
/* styling to hold the cards with content in the work section */
.card-container-1 {
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1 0 100%;
}

.card-container {
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1 0 100%;
}

/* the styling for the content inside the card container */
.card-column-1 {
  flex: 1 0 100%;
  padding: 1.5rem;
}

.card-column {
  flex: 1 0 50%;
  padding: 1.5rem;
}

/* this takes care of the design of the project and project labels styling */
h3 {
    transform: translateY(-60px);
    padding: 10px;
    width: fit-content;
    text-align: center;
}

h3 {
  color:slateblue;
  position:absolute;
  transform: translateY(-100px);
}

.project-title {
  border: 2px solid black;
  background-color: white;
}

/* this styles the images sizing */
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid slateblue;
}

img {
  width: 75 vw;
  height: 75 vh;
}

/* footer styling */
footer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
    padding: 50px;
    background-color: slateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

footer section p {
  font-size: 20px;
}

footer ul li {
  display:inline-block;
  margin-left: 20px;
  /* font-size: 20px; */

}

/* media styling for footer */
@media (min-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}


